@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

.App {
  text-align: center;
  padding: 20px;
}

.form-background {
  background-color: #fff0c7;
  padding: 20px;
}

.delicious-text {
  font-family: 'Playfair Display SC', serif;
  font-size: 64px;
  text-align: center;
}

.recipe-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.recipe-list table {
  width: 100%;
  border-collapse: collapse;
}

.recipe-list thead {
  background-color: #ffffff;
}

.recipe-list th,
.recipe-list td {
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

.recipe-list th:nth-child(1),
.recipe-list th:nth-child(2),
.recipe-list th:nth-child(3),
.recipe-list td:nth-child(1),
.recipe-list td:nth-child(2),
.recipe-list td:nth-child(3) {
  width: 10%;
}

.recipe-list th:nth-child(4),
.recipe-list td:nth-child(4) {
  width: 30%;
}

.recipe-list th:nth-child(5),
.recipe-list td:nth-child(5) {
  width: 30%;
}

.recipe-list tbody tr:nth-child(odd) {
  background-color: #fff0c7;
}

.recipe-list img {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
}

.content-td {
  max-height: 100px;
  overflow-y: auto;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}